In [1]:
print("hello world")

hello world

In [2]:
x = 10
type(x)

int

In [8]:
#arithmetic operations
x= 100
y = 4

print(x+y)# add
print(x-y) #sub
print(x/y)#divide
print(x//y)#floor division gives quotient
print(x%y)#modulo gives remainder
print(x**y)#exponet

104
96
25.0
25
0
100000000

In [9]:
#list operations
l1= []
l1 = [1,2,3,4,5,6,7]
l1[2]

3

In [11]:
l1.append(75)

In [12]:
print(l1)

[1, 2, 3, 4, 5, 6, 7, 75, 75]

In [13]:
l1.insert(4,69) #4 is the position and 69 is the value

In [14]:
l1

[1, 2, 3, 4, 69, 5, 6, 7, 75, 75]

In [15]:
l1.pop() #since nothing is given it pops the last value by default
l1

[1, 2, 3, 4, 69, 5, 6, 7, 75]

In [16]:
l1.pop(4) #pops the 4th value in the list
l1

[1, 2, 3, 4, 5, 6, 7, 75]

In [17]:
l2 = [54,68,78,3246,87,63,34,34,77,68,78,7,867,667,67,66376]
l2.sort() #by default sorts in ascending order
l2

[7, 34, 34, 54, 63, 67, 68, 68, 77, 78, 78, 87, 667, 867, 3246, 66376]

In [18]:
l2.sort(reverse = True) #sorts in descending order
l2

[66376, 3246, 867, 667, 87, 78, 78, 77, 68, 68, 67, 63, 54, 34, 34, 7]

In [19]:
#tuples
#they cannot be modified once they are made in order to modify convert it to list
t1= (5,7,7,87,857,686,667,679,679,63)
#converting to list
t2 = list(t1)
t2

[5, 7, 7, 87, 857, 686, 667, 679, 679, 63]

In [20]:
#dictionaries have keys and value here 1,2,3 are keys and following cities are values
d1 = {1:"hyderabad",2: "banglore", 3 : "chennai"}
d1

{1: 'hyderabad', 2: 'banglore', 3: 'chennai'}

In [21]:
#dictionaries can also have list as values in them 
d2 = {'id': [101,102,103],
     'age': [25,26,32],
     'height':[150,160,172]}
d2

{'id': [101, 102, 103], 'age': [25, 26, 32], 'height': [150, 160, 172]}

In [24]:

d2.keys()

dict_keys(['id', 'age', 'height'])

In [25]:
d2.values()

dict_values([[101, 102, 103], [25, 26, 32], [150, 160, 172]])